*{
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100vh;
    width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  float: left;
}
#clocktext{
 
  color: white;
  font-size: xx-large;
  font-weight: bold;
  padding: 32px 0px 0px 0px;
  text-align: center;
  
}
#clock {
  width: 280px;
  height: 280px;
  background: #25283D;
  border: 18px solid #000000;
  border-radius: 50%;
  margin: 63px auto 32px;
  position: relative;
  box-shadow: inset 0 5px 25px #00000080,
  0 5px 25px #00000080,
  0 5px 30px #00000080,
  0 5px 35px #00000080,
  0 5px 40px #00000080,
  0 5px 45px #00000080;
}
#clock:before {
  content: '';
  position: absolute;
  width: 280px;
  height: 280px;
  left: -18px;
  top: -10px;
  border: 18px solid #CCCCCC;
  border-radius: 50%;
  z-index: -2;
}
#clock:after {
  content: '';
  width: 18px;
  height: 18px;
  background: #c7d8f8;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 9px);
  top: calc(50% - 9px);
  box-shadow: 0 2px 4px #00000026;
}
#clock li {
  list-style-type: none;
  position: absolute;
}
.numbers {
  position: absolute;
  width: 90%;
  height: 90%;
  padding: 5%;
  text-align: center;
}
.numbers span {
  display: block;
  color: #dbe7fd;
  font-size: 38px;
  text-shadow: 0 5px 18px #00000026, 0 2px 3px #00000033;
}
.numbers:nth-child(1) {
  transform: rotate(30deg);
}
.numbers:nth-child(1) span {
  transform: rotate(-30deg);
}
.numbers:nth-child(2) {
  transform: rotate(60deg);
}
.numbers:nth-child(2) span {
  transform: rotate(-60deg);
}
.numbers:nth-child(3) {
  transform: rotate(90deg);
}
.numbers:nth-child(3) span {
  transform: rotate(-90deg);
}
.numbers:nth-child(4) {
  transform: rotate(120deg);
}
.numbers:nth-child(4) span {
  transform: rotate(-120deg);
}
.numbers:nth-child(5) {
  transform: rotate(150deg);
}
.numbers:nth-child(5) span {
  transform: rotate(-150deg);
}
.numbers:nth-child(6) {
  transform: rotate(180deg);
}
.numbers:nth-child(6) span {
  transform: rotate(-180deg);
}
.numbers:nth-child(7) {
  transform: rotate(210deg);
}
.numbers:nth-child(7) span {
  transform: rotate(-210deg);
}
.numbers:nth-child(8) {
  transform: rotate(240deg);
}
.numbers:nth-child(8) span {
  transform: rotate(-240deg);
}
.numbers:nth-child(9) {
  transform: rotate(270deg);
}
.numbers:nth-child(9) span {
  transform: rotate(-270deg);
}
.numbers:nth-child(10) {
  transform: rotate(300deg);
}
.numbers:nth-child(10) span {
  transform: rotate(-300deg);
}
.numbers:nth-child(11) {
  transform: rotate(330deg);
}
.numbers:nth-child(11) span {
  transform: rotate(-330deg);
}
#second {
  width: 100%;
  height: 100%;
  animation: sec 60s steps(60, end) infinite;
}
#second:after {
  content: '';
  width: 4px;
  height: 107px;
  border-radius: 2px;
  background: #FD2E62;
  position: absolute;
  left: calc(50% - 2px);
  top: 55px;
  box-shadow: 1px 2px 3px #00000026;
}
#minute {
  width: 100%;
  height: 100%;
  animation: sec 3600s steps(60, end) infinite;
}
#minute:after {
  content: '';
  width: 8px;
  height: 79px;
  border-radius: 4px 4px 2px 2px;
  background: #bed4fd;
  position: absolute;
  left: calc(50% + 30px);
  top: 29%;
  transform: rotate(-120deg);
  box-shadow: -1px 0 5px #00000026;
}
#hour {
  width: 100%;
  height: 100%;
  transform: rotate(120deg);
}

#hour:after {
  content: '';
  width: 12px;
  height: 65px;
  border-radius: 6px 6px 3px 3px;
  background: #07f3dfb4;
  position: absolute;
  left: calc(50% - 4px);
  top: 50%;
  box-shadow: 1px 0 4px #00000026;
}
body {
  background-color: darkcyan;
}
#clock {
    background: linear-gradient(45deg, #ffd700, #ffae42);
}

#second:after {
    background: #ffd700; 
}

#minute:after {
    background: #ffd700; 
}

#hour:after {
    background: #ffd700; 
}

#second-timer {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;
    color: #ffffff;
    background-color: #000000;
    padding: 18px 10%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.date {
  text-align: center;
  font-size: 30px;
  color: white;
  padding-top: 10px;
}

#timer-display {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
  background-color: #FFDB58; /* Mustard Yellow */
  padding: 5px;
  border-radius: 5px;
}
.glow {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e1ff00;
  box-shadow: 0px 0px 30px cyan;
  margin-left: 30px;
}

.span-1 {animation: animate-span 2s linear 1s infinite;}

.span-2 {animation: animate-span 2s linear .5s infinite;}

.span-3 {animation: animate-span 2s linear .3s infinite;}

.span-4 {animation: animate-span 2s linear .4s infinite;}

.span-5 {animation: animate-span 2s linear .8s infinite;}

.span-6 {animation: animate-span 2s linear .1s infinite;}

.span-7 {animation: animate-span 2s linear .9s infinite;}

.span-8 {animation: animate-span 2s linear .1s infinite;}

.span-9 {animation: animate-span 2s linear 1s infinite;}

.span-10 {animation: animate-span 2s linear .5s infinite;}

.span-11 {animation: animate-span 2s linear 7s infinite;}

.span-12 {animation: animate-span 2s linear .9s infinite;}

.span-13 {animation: animate-span 2s linear .7s infinite;}

.span-14 {animation: animate-span 2s linear .2s infinite;}

.span-15 {animation: animate-span 2s linear .8s infinite;}

.span-16 {animation: animate-span 2s linear .3s infinite;}

.span-17 {animation: animate-span 2s linear .8s infinite;}

.span-18 {animation: animate-span 2s linear .2s infinite;}

.span-19 {animation: animate-span 2s linear 9s infinite;}

.span-20 {animation: animate-span 2s linear .5s infinite;}

.glow::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 110%;
  background-color: cyan;
  animation: animate-span 10s linear 5s infinite backwards;
  box-shadow: 0px 0px 30px cyan;
}

@keyframes animate-span {
  0% {
      transform: translateY(100vh);
  }

  100% {
      transform: translateY(0vh);
  }
}

@keyframes sec {
  to {
    transform: rotate(360deg);
  }
}
